@import "vars";

html {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: $text;
}

a {
	display: inline-block;
	text-decoration: none;
	color: $text;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
}

.btn {
	padding: 12px 50px;
	background-color: #fff;
	border-radius: 26px;
	color: $btn-color;
	font-family: "Georgia", sans-serif;
	font-size: 17px;
	transition: all .3s;
	border: solid 2px $btn;
	&:hover {
		background-color: $btn;
	}
}

.title {
	font-family: "Georgia", sans-serif;
	font-size: 35px;
	text-align: center;
	line-height: 45px;
	color: #545454;
	letter-spacing: .6px;
	span {
		display: block;
	}
}

