@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*********************************************************************************
*******************************			HEADER 			**********************************
**********************************************************************************/

.header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 925px;
	&__logo {
		cursor: pointer;
	}
	&__top {
		padding: 60px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		&-list {
			li {
				display: inline-block;
				padding: 5px 0;
				position: relative;
				& + li {
					margin-left: 30px;
				}
				&::after {
					content: "";
					position: absolute;
					height: 3px;
					bottom: 0;
					left: 0;
					width: 100%;
					border-radius: 1px;
					background-color: transparent;
					transition: all .3s;
				}
				&:hover {
					a {
						color: #fff;
					}
					&::after {
						background-color: $btn;
					}
				}
				a {
					color: grey;
					transition: all .3s; 
				}
			}
		}
	}
	&__content {
		max-width: 460px;
		&-box {
			display: flex;
			justify-content: flex-start;
			padding-top: 160px;
		}
	}
	&__title {
		font-size: 44px;
		line-height: 57px;
		color: #fff;
		font-family: "Georgia", sans-serif;
		padding-right: 100px;
		letter-spacing: .6px;
		margin-bottom: 30px;
	}
	&__text {
		color: $grey;
		margin-bottom: 30px;
	}
}

/*********************************************************************************
*******************************			ABOUT 			**********************************
**********************************************************************************/

.about {
	padding: 90px 0;
	&__inner {
		display: flex;
		justify-content: center;
	}
	&__img {
		margin-right: 125px;
	}
	&__content {
		max-width: 420px;
		width: 100%;
		&-title {
			text-align: left;
			padding-right: 45px;
			margin-bottom: 30px;
		}
	}
}

/*********************************************************************************
*******************************			FRIENDS 			**********************************
**********************************************************************************/

.friends,
.all-friends {
	padding: 70px 0;
	&__title {
		margin-bottom: 60px;
	}
	&__inner {
		max-width: 915px;
		margin: 0 auto;
	}
	&__slider {
		position: relative;
	}
	&__item {
		width: 270px !important;
		background-color: #fafafa;
		border-radius: 7px;
		text-align: center;
		margin: 0 15px 35px;
		padding-bottom: 35px;
		cursor: pointer;
		transition: all .3s;
		&:hover {
			box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
		}
		&-img {
			margin-bottom: 25px;
		}
		&-name {
			font-size: 20px;
			letter-spacing: .6px;
			color: #545454;
			margin-bottom: 20px;
			font-family: "Georgia", sans-serif;
		}
	}
	.slick {
		&-arrow {
			position: absolute;
			top: 50%;
			transform: translateX(-50%);
			background-color: transparent;
			width: 50px;
			height: 50px;
			border: solid 2px $btn;
			border-radius: 50%;
			transition: all .3s;
			cursor: pointer;
			&:hover {
				background-color: $btn;
			}
		}
		&-prev {
			left: -100px;
			z-index: 1;
		}
		&-next {
			right: -100px;
		}
	}
	&__link {
		text-align: center;
	}
}

/*********************************************************************************
*******************************			HELP 			**********************************
**********************************************************************************/

.help {
	padding: 60px 0 0;
	&__title {
		margin-bottom: 70px;
	}
	&__inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__item {
		cursor: pointer;
		margin: 0 50px 60px;
		&-img {
			display: block;
			text-align: center;
			height: 90px;
		}
		&-title {
			font-size: 20px;
			color: #545454;
			text-align: center;
			font-family: "Georgia", sans-serif;
		}
	}
}

/*********************************************************************************
*******************************			DONAT 			**********************************
**********************************************************************************/

.donat {
	padding: 60px 0 80px;
	&__inner {
		display: flex;
	}
	&__img {
		max-width: 505px;
		width: 100%;
		margin-right: 60px;
	}
	&__content {
		max-width: 360px;
		width: 100%;
		color: #545454;
		letter-spacing: .6px;
		&-title {
			margin-bottom: 20px;
			text-align: left;
			font-size: 35px;
			line-height: 45px;
		}
		&-subtitle {
			font-size: 15px;
			margin-bottom: 10px;
			font-family: "Georgia", sans-serif;
		}
		&-card {
			display: inline-block;
			padding: 10px 10px 10px 60px;
			color: $btn-color;
			background-color: $btn;
			font-size: 20px;
			border-radius: 5px;
			margin-bottom: 30px;
			font-family: "Times New Roman", sans-serif;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 10px;
				width: 30px;
				height: 24px;
				background-image: url(../img/icons/credit-card.png);
			}
		}
		&-text {
			font-family: "Arial, sans-serif";
			font-size: 12px;
			line-height: 18px;
			font-style: italic;
			color: #b2b2b2;
			letter-spacing: 0;
			padding-right: 10px;	
		}
	}
}

/*********************************************************************************
*******************************			FOOTER 			**********************************
**********************************************************************************/

.footer {
	padding: 70px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&__inner {
		display: flex;
	}
	&__item {
		max-width: 300px;
		width: 100%;
		& + .footer__item {
			margin-left: 160px;
		}
		&-title {
			color: #fff;
			margin-bottom: 30px;
			text-align: left;
			padding-right: 15px;
		}
		&-contact {
			a {
				&.email {
					&::before {
						width: 40px;
						height: 26px;
						background-image: url(../img/icons/footer-icon-1.png);
					}
				}
				&.phone {
					&::before {
						width: 40px;
						top: -2px;
						height: 32px;
						background-image: url(../img/icons/footer-icon-2.png);
					}
				}
			}
			a,
			span {
				display: inline-block;
				font-size: 20px;
				letter-spacing: .6px;
				color: $btn;
				font-family: "Times New Roman", sans-serif;
				padding-left: 55px;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					left: 0;
				}
				& + a,
				& + span {
					margin-top: 45px;
				}
			}
			span {
				&::before {
					width: 26px;
					height: 36px;
					background-image: url(../img/icons/footer-icon-3.png);
				}
				& + span {
					margin-top: 20px;
				}
			}
		}
	}
}


.all-friends {
	padding: 70px 0;
	&__title {
		margin-bottom: 60px;
	}
	&__slider {
		display: flex;
		justify-content: flex-start;
		margin-left: -20px;
		flex-basis: calc(25% - 25px);
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	&__item {
		margin: 0 0 30px;
		margin-left: 25px;
	}
	&__inner {
		max-width: 1170px;
		margin: 0;
	}
	&__pagination {
		text-align: center;
		ul {
			li {
				display: inline-block;
				margin: 0 7px;
				&:hover {
					a,
					span {
						background-color: $btn;
						&.pagination-dots {
							background-color: transparent;
						}
					}
				}
				a,
				span {
					display: inline-block;
					font-size: 20px;
					font-family: "Times New Roman", sans-serif;
					color: $btn-color;
					width: 50px;
					height: 50px;
					line-height: 46px;
					text-align: center;
					border-radius: 50%;
					border: 2px solid $btn;
					&.active {
						background-color: $btn;
					}
					&.pagination-dots {
						border: none;
						color: $btn;
						width: 30px;
					}
				}
			}
		}
	}
}


.header {
	&.header__friends {
		min-height: auto;
		.header {
			&__top {
				padding: 30px 0;
			}
			&__menu {
				&-list {
					li {
						&:hover {
							a {
								color: #292929;
							}
							&::after {
								background-color: $btn;
							}
						}
					}
				}
			}
		}
	}
}






@import "media";
