@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*********************************************************************************
*******************************			HEADER 			**********************************
**********************************************************************************/

.header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 925px;
	&__top {
		padding: 60px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		&-list {
			li {
				display: inline-block;
				padding: 5px 0;
				position: relative;
				& + li {
					margin-left: 30px;
				}
				&::after {
					content: "";
					position: absolute;
					height: 3px;
					bottom: 0;
					left: 0;
					width: 100%;
					border-radius: 1px;
					background-color: transparent;
					transition: all .3s;
				}
				&:hover {
					a {
						color: #fff;
					}
					&::after {
						background-color: $btn;
					}
				}
				a {
					color: grey;
					transition: all .3s; 
				}
			}
		}
	}
	&__content {
		max-width: 460px;
		&-box {
			display: flex;
			justify-content: flex-start;
			padding-top: 160px;
		}
	}
	&__title {
		font-size: 44px;
		line-height: 57px;
		color: #fff;
		font-family: "Georgia", sans-serif;
		padding-right: 100px;
		letter-spacing: .6px;
		margin-bottom: 30px;
	}
	&__text {
		color: $grey;
		margin-bottom: 30px;
	}
}

/*********************************************************************************
*******************************			ABOUT 			**********************************
**********************************************************************************/

.about {
	padding: 90px 0;
	&__inner {
		display: flex;
		justify-content: center;
	}
	&__img {
		margin-right: 125px;
	}
	&__content {
		max-width: 420px;
		width: 100%;
		&-title {
			text-align: left;
			padding-right: 45px;
			margin-bottom: 30px;
		}
	}
}

/*********************************************************************************
*******************************			FRIENDS 			**********************************
**********************************************************************************/

.friends {
	padding: 70px 0;
	&__title {
		margin-bottom: 60px;
		span {
			display: block;
		}
	}
	&__inner {
		max-width: 915px;
		margin: 0 auto;
	}
	&__slider {
		position: relative;
	}
	&__item {
		width: 270px !important;
		background-color: #fafafa;
		border-radius: 7px;
		text-align: center;
		margin-bottom: 35px;
		padding-bottom: 35px;
		cursor: pointer;
		transition: all .3s;

		&:hover {
			box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
		}
		&-img {
			margin-bottom: 25px;
		}
		&-name {
			font-size: 20px;
			letter-spacing: .6px;
			color: #545454;
			margin-bottom: 20px;
			font-family: "Georgia", sans-serif;
		}
	}
	.slick {
		&-arrow {
			position: absolute;
			top: 50%;
			transform: translateX(-50%);
			background-color: transparent;
			width: 50px;
			height: 50px;
			border: solid 2px $btn;
			border-radius: 50%;
			transition: all .3s;
			cursor: pointer;
			&:hover {
				background-color: $btn;
			}
		}
		&-prev {
			left: -100px;
			z-index: 1;
		}
		&-next {
			right: -100px;
		}
	}
	&__link {
		text-align: center;
	}
}









@import "media";
